$largeDesktopMaxWidth: 1200px;
$tabletMaxWidth: 768px;
$mobileMaxWidth: 480px;

$primaryColor: #f53838;
$onPrimaryColor: #ffff;
$primaryContainerColor: #ffecec;
$regularTextColor: #4f5665;
$boldTextColor: #0b132a;
$greenColor: #2fab73;

$fontFamily: "Rubik", sans-serif;
$headlineTextFntSz: 35px;
$titleTextFntSz: 18px;
$bodyTextFntSz: 16px;
$bodySmallTextFntSz: 14px;
